body {
    background-color: rgb(246, 141, 4);
    color: rgb(2, 2, 2);
}

a {
    color: rgb(97, 4, 246);
    text-decoration: none;
}

.form-control {
    background-color: rgb(6, 249, 111);
    color: rgb(65, 1, 1);
}

.input-group-text, .input-group-text:focus {
    background-color: rgb(246, 141, 4);
    color: rgb(4, 4, 4);
}

.cursor {
    cursor: pointer;
}
